<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Chocolat</string>
		<key>location</key>
		<string>Enfield</string>
		<key>photo</key>
		<string>Chocolat</string>
		<key>description</key>
		<string>This is a description about this particular pet. It includes some information about their background, their age and habits, as well as there likes and dislikes.</string>
		<key>stats</key>
		<dict>
			<key>gender</key>
			<string>Female</string>
			<key>breed</key>
			<string>Tortoiseshell</string>
			<key>age</key>
			<string>4 years old</string>
			<key>personality</key>
			<string>Friendly</string>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>Marmalade</string>
		<key>location</key>
		<string>Hornsey</string>
		<key>photo</key>
		<string>Marmalade</string>
		<key>description</key>
		<string>This is a description about this particular pet. It includes some information about their background, their age and habits, as well as there likes and dislikes.</string>
		<key>stats</key>
		<dict>
			<key>gender</key>
			<string>Male</string>
			<key>breed</key>
			<string>Tiger</string>
			<key>age</key>
			<string>4 years old</string>
			<key>personality</key>
			<string>Shy</string>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>Flossie</string>
		<key>location</key>
		<string>Kensington</string>
		<key>photo</key>
		<string>Flossie</string>
		<key>description</key>
		<string>This is a description about this particular pet. It includes some information about their background, their age and habits, as well as there likes and dislikes.</string>
		<key>stats</key>
		<dict>
			<key>gender</key>
			<string>Female</string>
			<key>breed</key>
			<string>?</string>
			<key>age</key>
			<string>6 years old</string>
			<key>personality</key>
			<string>Cheeky</string>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>Georgina</string>
		<key>location</key>
		<string>Finchley</string>
		<key>photo</key>
		<string>Georgina</string>
		<key>description</key>
		<string>This is a description about this particular pet. It includes some information about their background, their age and habits, as well as there likes and dislikes.</string>
		<key>stats</key>
		<dict>
			<key>gender</key>
			<string>Female</string>
			<key>breed</key>
			<string>?</string>
			<key>age</key>
			<string>9 years old</string>
			<key>personality</key>
			<string>Posh</string>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>Rory</string>
		<key>location</key>
		<string>Streatham</string>
		<key>photo</key>
		<string></string>
		<key>description</key>
		<string>This is a description about this particular pet. It includes some information about their background, their age and habits, as well as there likes and dislikes.</string>
		<key>stats</key>
		<dict>
			<key>gender</key>
			<string>Male</string>
			<key>breed</key>
			<string>?</string>
			<key>age</key>
			<string>8 years old</string>
			<key>personality</key>
			<string>Playful</string>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>Cassie</string>
		<key>location</key>
		<string>Chelsea</string>
		<key>photo</key>
		<string></string>
		<key>description</key>
		<string>This is a description about this particular pet. It includes some information about their background, their age and habits, as well as there likes and dislikes.</string>
		<key>stats</key>
		<dict>
			<key>gender</key>
			<string>Female</string>
			<key>breed</key>
			<string>?</string>
			<key>age</key>
			<string>3 years old</string>
			<key>personality</key>
			<string>Playful</string>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>Rocky</string>
		<key>location</key>
		<string>Mayfair</string>
		<key>photo</key>
		<string></string>
		<key>description</key>
		<string>This is a description about this particular pet. It includes some information about their background, their age and habits, as well as there likes and dislikes.</string>
		<key>stats</key>
		<dict>
			<key>gender</key>
			<string>Male</string>
			<key>breed</key>
			<string>Collie Cross</string>
			<key>age</key>
			<string>11 years old</string>
			<key>personality</key>
			<string>Friendly</string>
		</dict>
	</dict>
</array>
</plist>
